/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFFE6;
    --clr-neutral-200: #FFFFFF;
    --clr-neutral-400: #B8BDC6;
    --clr-neutral-600: #585858;
    --clr-neutral-900: #111827;
    --clr-accent-100: rgba(123, 63, 228, 0.69);
    --clr-accent-200: #E1D2F5;
    --clr-accent-300: #D4BEF7;
    --clr-accent-800: #9362E9;
    --clr-accent-900: #7B3FE4;
    --gap-small: 1em;
    --gap-medium: 2em;
    --gap-large: 3em;
    --gap-Xlarge: 5em;
}

/* ---------- UTILITY CLASSES ----------*/
.margin-left {
    margin-left: var(--gap-Xlarge);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.margin-left-small {
    margin-left: var(--gap-small);
}

.sm-column {
    flex: 1 1 25%;
}

.med-column {
    flex: 1 1 35%;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.5rem);
    font-weight: 00;
    line-height: 1.4;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-200);
}

/* ---------- TYPOGRAPHY ----------*/

h1 {
    font-size: clamp(2.25rem, 1.8125rem + 1.9444vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 1.7500rem + 1.1111vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
.section-title {
    font-weight: 700;
}

.section-title {
    font-size: clamp(1.1rem, 1.0625rem + 0.1667vw, 1.25rem);
}

.demo-vid a {
    color: var(--clr-accent-800);
    text-decoration: none;
}

.section-subtitle {
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--clr-accent-900);
}

.potential h2 {
    text-align: center;
}

.stats h4 {
    font-size: clamp(1.25rem, 0.5000rem + 3.3333vw, 2.25rem);
}

/* images */
.logo {
    width: 6em;
    /* aspect-ratio: 2 / 1; */
}
.crypto-icon {
    width: 3em;
    aspect-ratio: 1;
}

.metrics-icon {
    width: 5em;
}
/* ---------- LAYOUT ----------*/

/* navigation */
header {
    padding: 1em 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
}

nav {
    display: flex;
    gap: var(--gap-large);
    justify-content: flex-end;
    align-items: center;
    width: 50em;
}

nav ul {
    display: flex;
    gap: var(--gap-large);
}

nav li {
    list-style: none;
}

nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--clr-neutral-600);
}

/* general */
.container {
    width: 90vw;
    margin-inline: auto;
}
.hero,
section,
.tools-info,
.path,
.subtitle {
    margin-top: var(--gap-large);
}

.hero {
    padding: var(--gap-large) 0;
    background-color: var(--clr-accent-200);
}

.metrics {
    margin-top: var(--gap-small);
}

.split {
    display: flex;
    gap: var(--gap-medium);
}

.text,
.screenshots {
    flex: 1 1 50%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.btn-box {
    display: flex;
    gap: var(--gap-large);
    width: 20vw;
}

.demo-vid {
    display: flex;
    gap: var(--gap-small);
}

.stats {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.side-by-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-small);
}

.metrics {
    display: flex;
    gap: var(--gap-medium);
}

.metrics-block {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
}

.metrics-block * {
    flex: 1 1 20%;
    gap: var(--gap-large);
}

.metrics-block img {
    margin-inline: auto;
}

.metrics-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);
    height: 14em;
    padding: var(--gap-small);
    border: .1rem solid var(--clr-neutral-400);
    border-radius: 1.5em;

}

footer {
    background-color: var(--clr-accent-800);
}

/* ---------- COMPONENTS ----------*/
.currencies {
    width: 1000px;
    margin-inline: auto;
    text-align: center;
}

.currencies h3 {
    max-width: 45ch;
    margin-inline: auto;
}

.crypto-box {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-large);
    padding: var(--gap-small);
    border-top: .1rem solid var(--clr-neutral-400);
    border-bottom: .1rem solid var(--clr-neutral-400);
}

.tools-title {
    width: 800px;
    margin-inline: auto;
    text-align: center;
}

.tools-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

.tools-info div {
    flex: 1 1 30%;
    text-align: center;
}

.tools-info img {
    width: 2em;
    margin-inline: auto;
}

.path {
    width: 100vw;
}

.potential {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

.potential .text {
    flex: 1 1 25%;
}

.potential .stats {
    flex: 1 1 60%;
    border: 1px solid blue;
}

.cta-developers {
    background-color: var(--clr-accent-900);
    color: var(--clr-neutral-200);
}

.cta-form {
    width: 80vw;
    margin-inline: auto;
    background-color: var(--clr-accent-300);
    color: var(--clr-neutral-600);
    border-radius: var(--gap-medium);
}

/* buttons */
button {
    padding: .5em 1em;
    border: none;
    border-radius: 2em;
    background-color: transparent;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.5rem);
    color: var(--clr-neutral-200);
}

.btn-cta {
    background-color: var(--clr-accent-900);
    font-weight: 700;
}

.btn-nav,
.btn-metrics,
.btn-newsletter {
    font-family: 'Poppins', sans-serif;
}

.btn-nav {
    border: .1rem solid var(--clr-accent-900);
    font-weight: 600;
    color: var(--clr-accent-900);
}

.btn-potential {
    display: inline-block;
    width: 8em;
    height: 2.5em;
    margin-top: var(--gap-small);
}

.btn-metrics {
    border: .1rem solid var(--clr-neutral-400);
    color: var(--clr-neutral-400);
    width: 10em;
}

.btn-dev {
    border: .2rem solid var(--clr-neutral-200);
    font-weight: 700;
}

.btn-newsletter {
    background-color: var(--clr-accent-300);
    font-family: 'Poppins', sans-serif;
}
/* ---------- MEDIA QUERIES ----------*/