/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFFE6;
    --clr-neutral-200: #FFFFFF;
    --clr-neutral-400: #B8BDC6;
    --clr-neutral-600: #585858;
    --clr-neutral-900: #111827;
    --clr-accent-100: rgba(123, 63, 228, 0.69);
    --clr-accent-200: #E1D2F5;
    --clr-accent-300: #D4BEF7;
    --clr-accent-800: #9362E9;
    --clr-accent-900: #7B3FE4;
    --gap-small: 1em;
    --gap-medium: 2em;
    --gap-large: 3em;
    --gap-Xlarge: 5em;
}

/* ---------- UTILITY CLASSES ----------*/
.margin-left {
    margin-left: var(--gap-Xlarge);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.flex-column-small {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.margin-left-small {
    margin-left: var(--gap-small);
}

.sm-column {
    flex: 1 1 20%;
}

.med-column {
    flex: 1 1 35%;
}

.gap {
    margin-top: var(--gap-small);
}

.border1 {
    outline: 1px solid red;
}

.border2 {
    outline: 1px solid green;
}

.border3 {
    outline: 1px solid blue;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 0.9538rem + 0.2051vw, 1.2rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-200);
}

/* ---------- TYPOGRAPHY ----------*/

h1 {
    font-size: clamp(3rem, 2.8269rem + 0.7692vw, 3.75rem);
}

h2 {
    font-size: clamp(2.25rem, 2.0769rem + 0.7692vw, 3rem);
}

h3 {
    font-size: clamp(2rem, 1.9423rem + 0.2564vw, 2.25rem);
}

h4 {
    font-size: 1.5rem;
}


h1,
h2,
h3,
h4,
h5,
.nav-link,
.demo-vid a,
.tool-heading,
.section-title,
.footer-title {
    font-weight: 700;
    line-height: 4rem;
}

nav li {
    list-style: none;
}

nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--clr-neutral-600);
}

.currency-title {
    font-size: clamp(1.25rem, 1.1346rem + 0.5128vw, 1.75rem);
    font-weight: 800;
    line-height: 1;
}

.tool-heading {
    font-size: clamp(1.5rem, 1.4135rem + 0.3846vw, 1.875rem);
}

.section-title {
    font-size: clamp(1.1rem, 1.0654rem + 0.1538vw, 1.25rem);
}

.demo-vid a {
    color: var(--clr-accent-800);
    text-decoration: none;
}

.section-subtitle {
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--clr-accent-900);
}

.metrics-title {
    letter-spacing: -.1rem;
}

.metrics-title,
.metrics-subtitle {
    line-height: 1.2;
}

.currency-title,
.tools-title,
.tools-info,
.potential h2,
.cta-form h2{
    text-align: center;
}

.btn-nav,
.currency-title,
.subscribe-title,
.cta-form input,
.cta-form :placeholder-shown,
.btn-newsletter {
    font-family: 'Poppins', sans-serif;
}

.watch:hover,
.watch:focus {
    color: var(--clr-accent-900);
    transform: scale(1.2);
}

.subscribe-title {
    font-size: clamp(2.5rem, 2.3413rem + 0.7051vw, 3.1875rem);
}

footer,
.footer-title,
footer a {
    color: var(--clr-neutral-200);
}

.footer-link-item:hover,
.footer-link-item:focus {
    color: var(--clr-neutral-900);
    opacity: .8;
}

/* images */
.logo {
    width: 5em;
}

.deco img {
    margin-left: -5em;
    transform: scaleX(1.7);
}

.hero-screenshots img {
    max-width: 60%;
}

.phone1 {
    margin: var(--gap-medium) 0;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A033, inset 0px 10px 27px -8px #14141433, inset 0px -10px 27px -8px #A0A0A033, -1px 1px 30px 3px rgba(184,189,198,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A033, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A0A0A033, -1px 1px 30px 3px rgba(184,189,198,0);
    border-radius: 2em;
}
.crypto-icon {
    width: 3em;
    aspect-ratio: 1;
}

.rounded {
    width: 3.5em;
}

.metrics-icon {
    width: 7em;
    aspect-ratio: 1;
}

.screen1 {
    margin-bottom: 6em;
}

.screen2 {
    margin-top: 6em;
}

.app-store {
    width: 7em;
}

/* ---------- LAYOUT ----------*/

/* navigation */
header {
    padding: .75em 0;
    width: 65vw;
    margin-inline: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: var(--gap-large);
    justify-content: flex-end;
    align-items: center;
    width: 50em;
}

nav ul {
    display: flex;
    gap: var(--gap-large);
}

/* general */

.container {
    width: 80vw;
    margin-inline: auto;
}

.container-wide {
    width: 95vw;
    margin-inline: auto;
}

.container-medium {
    width: 90vw;
    margin-inline: auto;
}

section,
.tools-info,
.path,
.subtitle,
footer {
    margin-top: var(--gap-large);
}

/* hero */

.hero {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-large);
    width: 100%;
    height: 100%;
    padding-top: var(--gap-medium);
    padding-bottom: 4em;
    background-color: #FCFAFF;
    background: #EBE2F9;
    background: -webkit-radial-gradient(bottom, #EBE2F9, #FCFAFF);
    background: -moz-radial-gradient(bottom, #EBE2F9, #FCFAFF);
    background: radial-gradient(to top, #EBE2F9, #FCFAFF);
}

.hero-text {
    flex: 1 1 38%;
}

.hero-screenshots {
    flex: 1 1 62%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-medium);
}

.hero-text h1,
.hero-text p,
.btn-box {
    margin-bottom: var(--gap-small);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 40%;
    gap: var(--gap-medium);
}

.screenshots {
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-medium);
}

.btn-box {
    display: flex;
    gap: var(--gap-large);
    width: 100%;
}

.demo-vid {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    gap: var(--gap-small);
}

/* currencies */
.currencies {
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

.currencies h3 {
    max-width: 45ch;
    margin-inline: auto;
}

.crypto-box {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-large);
    padding: var(--gap-small);
    border-top: .1rem solid var(--clr-neutral-400);
    border-bottom: .1rem solid var(--clr-neutral-400);
}

/* tools */
.tools-title {
    width: 800px;
    margin-inline: auto;
    text-align: center;
}

.tools-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}

.tools-info div {
    flex: 1 1 30%;
    text-align: center;
}

.tools-info img {
    width: 2em;
    margin-inline: auto;
}

/* potential */

.potential {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

.potential-text {
    flex: 1 1 35%;
    width: 35vw;
}

.stats {
    flex:1 1 40%;
    display: grid;   
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 30vw;
}

.btn-potential {
    margin-top: var(--gap-large);
}

.side-by-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: var(--gap-small);
}

.right {
    justify-self: end;
}

/* metrics */

.metrics {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: var(--gap-small);
}

.metrics-text {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);
    padding: var(--gap-small);
    border: .1rem solid var(--clr-neutral-400);
    border-radius: 1.5em;
}

.metrics-block {
    flex: 1 1 75%;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
}

.metrics-block img {
    margin-inline: auto;
}

/* developers */
.developers {
    width: 100%;
    background-color: var(--clr-accent-900);
    color: var(--clr-neutral-200);
}

.dev-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dev-text{
    flex: 1 1 35%;
}

.dev-screenshots-block {
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-medium);
}

/* newsletter */
.cta-form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 3em 5em 5em 3em;
    width: 80vw;
    margin-inline: auto;
    background-color: #D4BEF799;
    background-image: url("images\\deco.png");
    color: var(--clr-neutral-600);
    border-radius: var(--gap-medium);
}

.cta-form h2,
.cta-form input {
    width: 50vw;
    margin-inline: auto;
}

.form-deco {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-small);
    border-radius: 2em;
    background-color: var(--clr-neutral-200);
}

.cta-form input {
    border: none;
}

/* footer */
footer {
    display: flex;
    gap: 3em;
    width: 100%;
    color: var(--clr-accent-200);
    background-color: var(--clr-accent-800);
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-medium);
    margin: var(--gap-medium) 0;
    margin-inline: auto;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-small);
    width: 7vw;
}

.app-box {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* ---------- COMPONENTS ----------*/
.deco {
    margin-left: -5em;
}

.path {
    width: 100vw;
}

.social-icon,
.app-store {
    cursor: pointer;
}

.social-icon:hover,
.social-icon:focus {
    transform: scale(1.25);
}

.app-store:hover,
.app-store:focus {
    transform: scale(1.1);
}

/* buttons */
button {
    padding: .4em 1em;
    border: none;
    border-radius: 2em;
    background-color: transparent;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.5rem);
    color: var(--clr-neutral-200);
    cursor: pointer;
}

button:hover,
button:focus {
    transform: scale(1.05);
    box-shadow: 1px 1px 6px 5px var(--clr-neutral-400);
}

.btn-nav,
.btn-metrics,
.btn-newsletter {
    font-family: 'Poppins', sans-serif;
}

.btn-nav {
    border: .1rem solid var(--clr-accent-900);
    font: inherit;
    font-weight: 600;
    color: var(--clr-accent-900);
    position: relative;
    transition: 0s .25s all ease-in;
    overflow: hidden;
}

.btn-nav:hover,
.btn-nav:focus {
    background-color: var(--clr-accent-900);
    color: var(--clr-neutral-200);
}

.btn-cta {
    background-color: var(--clr-accent-900);
    font-weight: 700;
}

.btn-cta:hover,
.btn-cta:focus {
    background-color: var(--clr-accent-200);
    color: var(--clr-accent-900);
    box-shadow: 1px 1px 6px 5px var(--clr-accent-800);
}

.btn-potential {
    display: inline-block;
    width: 8em;
    height: 2.5em;
    margin-top: var(--gap-small);
}

.btn-metrics {
    border: .1rem solid var(--clr-neutral-400);
    color: var(--clr-neutral-400);
    width: 10em;
    transition: 0s .15s all cubic-bezier(.14,.77,.86,.47);
}

.btn-metrics:hover,
.btn-metrics:focus {
    font-weight: 700;
    background-color: var(--clr-neutral-400);
    border: .1rem solid var(--clr-accent-800);
    color: var(--clr-accent-800);
}

.btn-dev {
    width: 14em;
    border: .2rem solid var(--clr-neutral-200);
    font-weight: 700;
}

.btn-dev:hover,
.btn-dev:focus {
    background-color: var(--clr-accent-800);
    box-shadow: 1px 1px 6px 5px var(--clr-accent-300);
}

.btn-newsletter {
    background-color: var(--clr-accent-300);
    font-family: 'Poppins', sans-serif;
}

.btn-newsletter:hover,
.btn-newsletter:focus {
    background-color: var(--clr-accent-900);
}
/* ---------- MEDIA QUERIES ----------*/

@media (max-width: 1280px) {
    .container {
        width: 90vw;
    }
    .container-wide {
        width: 100vw;
    }
    .container-medium {
        width: 95vw;
    }
    .hero {
        gap: var(--gap-medium);
    }
    .hero-screenshots {
        gap: var(--gap-small);
    }

    .tools-info {
        gap: var(--gap-small);
    }

    .tools-info div {
        flex: 1 1 24%;
    }
    .potential {
        gap: var(--gap-medium);
    }
    .potential,
    .metrics,
    .dev-split {
        width: 90%
    }
    .section-subtitle {
        margin-left: 3.5em;
    }
    .developers {
        gap: var(--gap-small);
        width: 100%;
    }
    .dev-text {
        flex: 1 1 20%;
    }
    .dev-screenshots-block {
        flex: 1 1 45%;
        gap: var(--gap-small);
        margin-right: -1em;
    }
    .cta-form {
        width: 60%;
    }
}

@media (max-width: 1150px) {
    .hero {
        gap: var(--gap-small);
    }
    .hero-text {
        flex: 1 1 25%;
        width: 25%;
    }
    .hero-screenshots {
        flex: 1 1 30%;
        width: 25%;
    }
    .hero-screenshots img {
        max-width: 50%;
    }
    .tools,
    .potential,
    .dev-split,
    .footer-flex {
        width: 90vw;
        margin-inline: auto;
    }
    .metrics-block {
        gap: .75em;
    }
    .dev-screenshots-block {
        gap: .5em;
        width: 50%;
        margin-right: -3.5em;
    }
    .dev-screenshots-block img {
        max-width: 45%;
    }
}

@media (max-width: 1100px) {
    .container,
    .container-wide,
    .container-medium {
        width: 95vw;
        margin-inline: auto;
    }
    header {
        width: 85%;
    }
    nav {
        gap: var(--gap-small);
    }
    .hero {
        gap: .75em;
        width: 100%;
        padding-bottom: 2em;
    }
    .hero-text h1 {
        margin-bottom: .5rem;
        line-height: 3rem;
    }
    .hero-screenshots {
        align-items: center;
    }
    .phone1 {
        max-width: 10%;
        aspect-ratio: 1 / 2;
    }
    .deco {
        margin-left: -3em;
    }
    .crypto-box {
        gap: var(--gap-medium);
        padding: .5em;
    }
    .crypto-icon {
        max-width: 2em;
        /* aspect-ratio: 2 / 1; */
    }
    .rounded {
        max-width: 2.5em;
    }
    .potential-text {
        flex: 1 1 30%;
    }
    .potential-text h2 {
        line-height: 3rem;
    }
    .side-by-side h3 {
        line-height: 2.5rem;
    }
    .metrics {
        gap: .5em;
        width: 90vw;
    }
    .metrics-text {
        padding: .5em;
    }
    .metrics-block {
        margin-right: 1.5em;
    }
    .developers {
        width: 100%;
    }
    .cta-form {
        width: 75%;
        padding: 2em 3.5em 3.5em 2em;
    }
}

@media (max-width: 800px) {
    header,
    .hero,
    .developers {
        width: 100vw;
    }
    .hero-screenshots {
        flex-direction: column;
    }
    .crypto-box {
        gap: .5em;
        padding: .5em;
    }
}

@media (max-width: 768px) {
    .btn-box {
        flex-direction: column;
        gap: .5em;
    }
    .btn-cta {
        width: 20vw;
    }
    .deco img {
        transform: scaleX(1.45);
    }
}