/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFFE6;
    --clr-neutral-200: #FFFFFF;
    --clr-neutral-400: #B8BDC6;
    --clr-neutral-600: #585858;
    --clr-neutral-900: #111827;
    --clr-accent-100: rgba(123, 63, 228, 0.69);
    --clr-accent-200: #E1D2F5;
    --clr-accent-300: ##D4BEF7;
    --clr-accent-800: #9362E9;
    --clr-accent-900: #7B3FE4;
    --gap-small: 1em;
    --gap-medium: 2em;
    --gap-large: 3em;
    --gap-Xlarge: 5em;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.5rem);
    font-weight: 00;
    line-height: 1.2;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-200);
}

/* ---------- TYPOGRAPHY ----------*/

h1 {
    font-size: clamp(2.25rem, 1.8125rem + 1.9444vw, 4rem);
    font-weight: 700;
}

/* images */
.logo {
    width: 6em;
    /* aspect-ratio: 2 / 1; */
}
.crypto-icon {
    width: 3em;
    aspect-ratio: 1;
}
/* ---------- LAYOUT ----------*/

/* navigation */
header {
    padding: 1em 0;
}
.navigation {
    display: flex;
    justify-content: space-between;
    height: 7em;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50em;
    text-decoration: none;
}
.nav-links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* general */
.hero,
section {
    margin-top: var(--gap-large);
}

.split {
    display: flex;
    gap: var(--gap-medium);
}

.intro,
.screenshots {
    flex: 1 1 50%;
}

/* ---------- COMPONENTS ----------*/
.crypto-box {
    display: flex;
    gap: var(--gap-small);
}



/* ---------- MEDIA QUERIES ----------*/